registry=http://localhost:8081/repository/npm-group/
email=980159737@qq.com
always-auth=true
_auth="ZGVwbG95ZXI6ZGVwbG95ZXI="
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=5scn3FocwXaqgYM11UsmUgSJ7DRT4k0w3EvjTTSSJ6eREh0l4zkMEnL1kJXO24Zq