  .columns {
      display: flex;
      width: 100%;
      gap: 10px;

      .node-column {
          min-width: 0;
          /* height: 100%; */
          flex: 1 1 0%;

          p {
              margin: 0px;
          }
      }
  }