  @tailwind utilities;
  /* Details */
  .details {
      display: flex;
      gap: 0.25rem;
      margin: 1.5rem 0;
      /* border: 1px solid #eee; */
      border-radius: 0.5rem;
      align-items: center;
      padding: 0.5rem;
      @apply border;

      summary {
          font-weight: 700;
      }

      >button {
          z-index: 1000;
          align-items: center;
          background: transparent;
          border-radius: 4px;
          display: flex;
          font-size: 0.625rem;
          height: 1.25rem;
          justify-content: center;
          line-height: 1;
          margin-top: 0.1rem;
          padding: 0;
          width: 1.25rem;

          &:hover {
              @apply bg-muted
          }

          &::before {
              content: '\25B6';
          }
      }

      &.is-open>button::before {
          transform: rotate(90deg);
      }

      >div {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;

          >[data-type='detailsContent']> :last-child {
              margin-bottom: 0.5rem;
          }
      }

      .details {
          margin: 0.5rem 0;
      }
  }