  @tailwind utilities;
  /* Details */
  /* Details */
  .details {
      display: flex;
      gap: 10px;
      margin: 1.5rem 0;
      /* border: 1px solid var(--gray-3); */
      @apply border;
      border-radius: 0.5rem;
      padding: 0.5rem;

      summary {
          font-weight: 700;
        list-style: none;
      }

      >button {
          align-items: center;
          background: transparent;
          border-radius: 4px;
          display: flex;
          font-size: 0.625rem;
          height: 1.25rem;
          justify-content: center;
          line-height: 1;
          margin-top: 0.1rem;
          padding: 0;
          width: 1.25rem;

          &:hover {
              /* background-color: var(--gray-3); */
              @apply bg-muted
          }

          &::before {
              content: '\25B6';
              z-index: 1000;
          }
      }

      &.is-open>button::before {
          transform: rotate(90deg);
      }

      >div {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 100%;

          >[data-type='detailsContent']> :last-child {
              margin-bottom: 0.5rem;
          }
      }

      .details {
          margin: 0.5rem 0;

          p {
            margin-top: 0;
          }
      }
  }